<% provide(:title, 'Product edition') %>

<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="text-center">You're product edit(ing)</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= simple_form_for @product do |f| %>
        <%= f.input :title, label: 'Change title', error: 'Title, please specify one' %>
        <%= f.input :description, as: :text %>
        <%= f.input :url %>
        <%= f.input :image %>
        <%= f.input :price %>
        <%= f.input :currency %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
