<% provide(:title, 'Product query') %>


<div class="spacer"></div>
<div class="spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= simple_form_for :product_url do |f| %>
        <%= f.error_notification %>
        <%= f.input :url, label: 'Paste product\'s url' %>
        <%= f.button :submit, 'Submit', class: "button info" %>
      <% end %>
    </div>
  </div>
</div>

<div class="spacer"></div>
<div class="container">
  <div class="row">

        <% if session[:products_count] > 0 %>
          <div class="col-sm-6 col-sm-offset-3">
            <%= link_to 'Erase results', products_reset_path, class: "button alert foundation-btn" %>
          </div>
          <div class="col-sm-6 col-sm-offset-3">
            <%= link_to 'Save results', "#", class: "button button-success foundation-btn" %>
          </div>
        <% end %>

  </div>
</div>

<div class="spacer"></div>
<div class="spacer"></div>

<% if session[:products_count] > 0 %>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 product-query-display">
        <% session[:products].each do |product| %>
        <div class="padding-top">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="product-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= product[1]['image'] %>');">
                  <div class="product-card-category"><%= product[1]['brand'] %></div>
                  <%= link_to "", "#{product[1]['url']}", class: "product-card-link", target: "_blank" %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-8">
                <h2><%= product[1]['title'] %></h2>
                <p><%= truncate(product[1]['description'], :length => 512) %></p>
                <p><%= product[1]['price'] %> <%= product[1]['currency'] %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="spacer"></div>
<div class="spacer"></div>
